In [1]:
# Read the library
import numpy as np
import pandas as pd

In [6]:
df1=pd.read_csv('RawData/202004-divvy-tripdata.csv')
df2=pd.read_csv('RawData/202005-divvy-tripdata.csv')
df3=pd.read_csv('RawData/202006-divvy-tripdata.csv')
df4=pd.read_csv('RawData/202007-divvy-tripdata.csv')
df5=pd.read_csv('RawData/202008-divvy-tripdata.csv')
df6=pd.read_csv('RawData/202009-divvy-tripdata.csv')
df7=pd.read_csv('RawData/202010-divvy-tripdata.csv')
df8=pd.read_csv('RawData/202011-divvy-tripdata.csv')
df9=pd.read_csv('RawData/202012-divvy-tripdata.csv')
df10=pd.read_csv('RawData/202101-divvy-tripdata.csv')
df11=pd.read_csv('RawData/202102-divvy-tripdata.csv')
df12=pd.read_csv('RawData/202103-divvy-tripdata.csv')
df=df1.append([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [7]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3489748 entries, 0 to 228495
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 372.7+ MB

In [10]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [11]:
df['started_at'] = pd.to_datetime(df['started_at'])

df['ended_at'] = pd.to_datetime(df['ended_at'])

In [15]:
# Calcluations for Length of ride LOR
df['LOR']=df['ended_at']-df['started_at']

In [16]:
df['LOR']

0        0 days 00:26:49
1        0 days 00:08:09
2        0 days 00:14:23
3        0 days 00:12:12
4        0 days 00:52:55
               ...
228491   0 days 02:23:51
228492   0 days 00:08:27
228493   0 days 00:41:35
228494   0 days 00:06:40
228495   0 days 00:08:29
Name: LOR, Length: 3489748, dtype: timedelta64[ns]

In [17]:
df['LOR']=df['LOR'] / np.timedelta64(1, 's')
df['LOR']

0         1609.0
1          489.0
2          863.0
3          732.0
4         3175.0
           ...
228491    8631.0
228492     507.0
228493    2495.0
228494     400.0
228495     509.0
Name: LOR, Length: 3489748, dtype: float64